body {
    background-image: url("../img/background.jpg");
    background-color: #cccccc;
    color: black;
}

h3 {
    color: darkslateblue;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

