body {
    background-image: url("background (2).jpg");
    height: 200px;
}

h3 {
    color: darkslateblue;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

